$base-button-on-color: white;
$base-button-color: #E5EAFC;

.bubble {
    background-color: $base-button-color;
    text-align: center;
    padding: 23px 38px;
    border-radius: 75px;
    &-on {
        background-color: $base-button-on-color;
        text-align: center;
        padding: 23px 44px;
        border-radius: 75px;
    }
}