@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --col-white: white;
    --col-main: black;
    --col-black-50: rgba(0, 0, 0, 0.5);
    --col-yellow: #FFC700;

    --text-size-s: 12px;
    --text-size-m: 14px;
    --text-size-l: 18px;

    --font-main: 'Montserrat', sans-serif;
    --font-secondary: 'Karla', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* NAV */

nav {
    padding: 16px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: absolute;
    top: 39px;
    transform: translate(-50%, -50%);
    left: 50%;
}

.profile {
    margin-right: 30px;
}

.page-navigation a {
    padding: 24px 16px;
    display: flex;
    align-items: center;
}

.product-title {
    text-transform: uppercase;
    margin: 0 auto;
    font-family: var(--font-main);
    font-size: var(--text-size-l);
}


/* PRODUCT IMAGES */

.front {
    border-radius: 15px;
}

.side {
    border-radius: 10px;
}

.front-image {
    padding: 0 16px;
    display: flex;
    justify-content: center;
}

.side-images {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
}


/* PRODUCT INFO */

.product-price {
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-family: var(--font-main);
    font-size: var(--text-size-l);
}


/* INPUTS */

.input-color, .input-size {
    padding: 12px 16px 0;
    font-family: var(--font-secondary);
    font-size: var(--text-size-l);
    text-transform: uppercase;
}

.color-title, .size-title {
    margin-bottom: 12px;
}
        
.input-color-selection, .input-size-selection {
    display: flex;
}

.input-color label, .input-size label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 46px;
}

.input-color label {
    padding: 5px;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.input-size label {
    padding: 8px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.15);
}

.input-color input[type="radio"], .input-size input[type="radio"] {
    display: none;
}

.input-color input[type="radio"]:checked + label {
    border: 2px solid black;
}

.input-size input[type="radio"]:checked + label {
    background-color: var(--col-main);
    color: var(--col-white);
}

.input-selector {
    margin: 0 12px;
}


/* PRODUCT DESCRIPTION */

.product-description {
    padding: 24px 16px;
}

.description {
    font-family: var(--font-secondary);
    font-size: var(--text-size-l);
}

/* BUTTON */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col-white);
    border: 3px solid var(--col-main);
    color: var(--col-main);
    border-radius: 15px;
    padding: 16px 0;
    margin: 0 16px;
    font-family: var(--font-main);
    font-size: var(--text-size-l);
    text-align: center;
    text-transform: uppercase;
}