@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* body>* {
    width: 100%;
} */

body {
    font-family: Roboto;
}

header {
    border: none;
    margin: 0;
    padding: 24px 120px;
}

nav {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
}

.icons img {
    margin: 0 12px;
}

.menu {
    display: flex;
}
.menu li {
    margin: 0 36px;
}



.main {
    position: relative;
    z-index: 1;
}

.bg {
    width: 100%;
    z-index: 0;
    position: absolute;
}

.main_content {
    position: relative;
    max-width: 530px;
    margin: 280px auto;
    padding: 0 20px;
    background-color: gainsboro;
}

.box {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.landing_icon {
    margin-bottom: 36px;
}

h1 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px
}

p {
    margin-bottom: 36px;
    font-size: 16px;
}