html{
    color: $white;
    background-color: $black;
    font-weight: 300;
    line-height: 1.618;
    font-size: $basefontsizemobile;
    @media(min-width: $tablet){
      font-size: $basefontsizetablet;
    }
    @media(min-width: $desktop){
      font-size: $basefontsizedesktop;
    }
}
.gridrowfull{
    width: 100%;
}
.gridrow{
    display: flex;
    flex-wrap: wrap;
    width: $gridwidth;
    margin: 0 auto;
    @media(min-width: $tablet){
        width: $gridwidtht;
    }
    @media(min-width: $desktop){
        width: $gridwidthd;
    }
    @media(min-width: $desktoplg){
        width: $gridwidthdlg;
    }
    .col {
        box-sizing: border-box;
        padding-left: $gridgutter / 2;
        padding-right: $gridgutter / 2;
        flex: 1;
    }
    @for $i from 1 through $gridcolumns {
        .col-#{$i} {
            box-sizing: border-box;
            width: percentage($i/$gridcolumns);
            padding-left: $gridgutter / 2;
            padding-right: $gridgutter / 2;
        }
    }
}