@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@400;600&display=swap');

html, body {
    background-color: gainsboro;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    width: 90%;
    margin-bottom: 10px;
}

.icon_bg {    
    display: flex;
    justify-content: center;
    background-color: #BCD1FF;
    border-radius: 16px 16px 0 0;
}

.icon {
    padding: 24px 0;
}

section {
    margin: 0 24px;
}

.genre_date {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: #6E798C;    
    font-size: 11px;
    padding: 15px 0 10px;
}

.genre {
    font-weight: 600;
}

.date {
    font-weight: 400;
}

.heading {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: 400;
    color: #081F32;  
    line-height: 25px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #374A59;
    line-height: 19px;
    padding-top: 4px;
}


.footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #007AE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 16px;
}

.profile_name {
    display: flex;
    align-items: center;
}

.profile {
    border-radius: 100%;
    margin-right: 8px;
    object-fit: cover;
}

.arrow {
    font-weight: 400;
}


@media only screen and (max-width:600px) {
    html, body {
        background-color: rgb(194, 182, 182);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    main {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 16px;
        width: 90%;
    }

    .icon_bg {    
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #BCD1FF;
        border-radius: 16px 0 0 16px;
    }

    .icon {
        padding: 24px 8px;
        width: 70%;
    }

    section {
        margin: 0 24px;
    }

    .genre_date {
        display: flex;
        justify-content: space-between;
        font-family: 'Open Sans', sans-serif;
        color: #6E798C;    
        font-size: 11px;
        padding: 15px 0 10px;
    }

    .genre {
        font-weight: 600;
    }

    .date {
        font-weight: 400;
    }

    .heading {
        font-family: 'DM Serif Display', serif;
        font-size: 20px;
        font-weight: 400;
        color: #081F32;  
        line-height: 25px;
        margin-top: 20px;
    } 

    .description, .footer {
        display: none;
    }
}