@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --------------- nav --------------- */
html {
  max-width: 1350px;
  margin: 0 auto;
}

.home {
  background: url(images/main-background.png) no-repeat;
}

.nav {
  background-color: rgba(35, 35, 35, 0.6);
  color: white;
  padding: 50px 60px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
}

.nav li {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: 700;
}

.nav-opacity {
  background-color: #232323;
  color: white;
  padding: 50px 60px;
}

.nav-opacity ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
}

.nav-opacity li {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: 700;
}

/* --------------- home --------------- */
.landing-title {
  font-family: "Roboto Mono", monospace;
  font-size: 48px;
  font-weight: 300;
  color: white;
  padding: 647px 60px 66px;
  margin-right: 40%;
}

/* --------------- menu --------------- */
.menu {
  padding: 60px;
  padding-bottom: 221px;
  background-color: #232323;
}

.menu-options-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 72px;
  font-weight: 700;
}

.menu-options-list li {
  margin-bottom: 60px;
}

.menu-options-list li:hover {
  color: #D27979;
}

.menu-options-list li:first-of-type {
  color: #D27979;
}

/* --------- WORK --------- */
.work {
  background-color: #121212;
  padding: 40px 20px 60px;
}

.work-options-list ul {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
}

.work-options-list ul li {
  padding: 0 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.work-options-list ul li:first-of-type {
  padding-left: 0;
  color: #D27979;
}

.work-options-list ul li:hover {
  color: #D27979;
}

.work-options-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-options-cards .card {
  position: relative;
  margin-bottom: 10px;
}

.work-options-cards .card p {
  position: absolute;
  display: block;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 20px;
  line-height: 1.4;
  opacity: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.work-options-cards .card:hover img {
  opacity: 0.6;
}

.work-options-cards .card:hover p {
  opacity: 1;
}

.menu-pagination-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
}

.menu-pagination-navigation p {
  padding-top: 40px;
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.menu-pagination-navigation p:hover {
  color: #D27979;
}

.footer {
  background-color: rgba(35, 35, 35, 0.6);
  padding: 60px 30px;
}

.footer-content {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
}
/*# sourceMappingURL=styles.css.map */