@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap);
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  /* margin: 0.67em 0; */
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  overflow-x: hidden;
  font-family: "Roboto Mono", sans-serif;
  color: #FFF;
  background-color: #121212;
  font-weight: 300;
  line-height: 1.618;
  font-size: 13.33333px;
}

@media (min-width: 750px) {
  html {
    font-size: 14.33333px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 15.33333px;
  }
}

/* ==================== */
/* ======= TEXT ======= */
/* ==================== */
.uppercase {
  text-transform: uppercase;
}

/* ================================== */
/* ======= MARGINS / PADDINGS ======= */
/* ================================== */
.marginnone {
  margin: 0 !important;
}

.marginhorizontalnone {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.marginverticalnone {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margintopnone {
  margin-top: 0 !important;
}

.marginrightnone {
  margin-right: 0 !important;
}

.marginbottomnone {
  margin-bottom: 0 !important;
}

.marginleftnone {
  margin-left: 0 !important;
}

.paddingnone {
  padding: 0 !important;
}

.paddinghorizontalnone {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paddingverticalnone {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.paddingtopnone {
  padding-top: 0 !important;
}

.paddingrightnone {
  padding-right: 0 !important;
}

.paddingbottomnone {
  padding-bottom: 0 !important;
}

.paddingleftnone {
  padding-left: 0 !important;
}

.marginfull {
  margin: 20px !important;
}

.marginhorizontalfull {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.marginverticalfull {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margintopfull {
  margin-top: 20px !important;
}

.marginrightfull {
  margin-right: 20px !important;
}

.marginbottomfull {
  margin-bottom: 20px !important;
}

.marginleftfull {
  margin-left: 20px !important;
}

.paddingfull {
  padding: 20px !important;
}

.paddinghorizontalfull {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.paddingverticalfull {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.paddingtopfull {
  padding-top: 20px !important;
}

.paddingrightfull {
  padding-right: 20px !important;
}

.paddingbottomfull {
  padding-bottom: 20px !important;
}

.paddingleftfull {
  padding-left: 20px !important;
}

.margindouble {
  margin: 40px !important;
}

.marginhorizontaldouble {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.marginverticaldouble {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.margintopdouble {
  margin-top: 40px !important;
}

.marginrightdouble {
  margin-right: 40px !important;
}

.marginbottomdouble {
  margin-bottom: 40px !important;
}

.marginleftdouble {
  margin-left: 40px !important;
}

.paddingdouble {
  padding: 40px !important;
}

.paddinghorizontaldouble {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.paddingverticaldouble {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.paddingtopdouble {
  padding-top: 40px !important;
}

.paddingrightdouble {
  padding-right: 40px !important;
}

.paddingbottomdouble {
  padding-bottom: 40px !important;
}

.paddingleftdouble {
  padding-left: 40px !important;
}

/* ====================== */
/* ======= IMAGES ======= */
/* ====================== */
.imgfit {
  display: block;
  width: 100%;
  height: auto;
}

.imgfit img, .imgfit source {
  display: block;
  width: 100%;
  height: auto;
}

.gridrow {
  width: calc(100% - 20px);
  margin: 0 auto;
}

@media (min-width: 750px) {
  .gridrow {
    width: calc(90% - 20px);
  }
}

@media (min-width: 960px) {
  .gridrow {
    width: 920px;
  }
}

@media (min-width: 1400px) {
  .gridrow {
    width: 1340px;
  }
}

.gridrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gridrow .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrow .col-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrow .col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrow .col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrow .col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media all and (min-width: 750px) {
  .gridrow .col-t-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrow .col-t-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrow .col-t-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrow .col-t-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrow .col-t-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrow .col-t-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 960px) {
  .gridrow .col-d-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrow .col-d-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrow .col-d-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrow .col-d-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrow .col-d-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrow .col-d-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer {
  background-color: rgba(35, 35, 35, 0.6);
  padding: 30px 0;
}

.footer .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
}

.footer .information a {
  font-size: 1rem;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(35, 35, 35, 0.6);
  padding: 30px 0;
}

.footer-fixed .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
}

.footer-fixed .information a {
  font-size: 1rem;
}

/* --------------- home page --------------- */
#hero {
  background: url(/images/main-background.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}

#hero section {
  color: #FFF;
  text-decoration: none;
  height: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
}

@media (min-width: 750px) {
  #hero section {
    font-size: 3rem;
  }
}

#hero section .gridrow {
  margin-bottom: 60px;
}

@media (min-width: 750px) {
  #hero section .gridrow {
    margin-bottom: 70px;
  }
}

@media (min-width: 960px) {
  #hero section .gridrow {
    margin-bottom: 80px;
  }
}

/* --------------- header --------------- */
header {
  height: 124px;
}

header input[type="checkbox"] {
  display: none;
}

header .main-nav {
  position: fixed;
  background-color: rgba(35, 35, 35, 0.6);
  width: 100%;
  z-index: 100;
}

header .main-nav-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
}

header .main-nav-listing li {
  padding: 50px 10px;
}

header .main-nav-listing li:first-of-type {
  font-size: 1rem;
  font-weight: 700;
}

@media (min-width: 750px) {
  header .main-nav-listing li:first-of-type {
    font-size: 1.125rem;
  }
}

header .main-nav-listing li:last-of-type img {
  float: right;
}

header .main-nav-listing label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

header .hidden-nav {
  -webkit-transition: top 0.4s ease;
  transition: top 0.4s ease;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #232323;
  color: white;
  top: -100vh;
  z-index: 99;
}

header .hidden-nav-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
  gap: 60px;
}

header .hidden-nav-listing li a {
  padding: 0 10px;
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 750px) {
  header .hidden-nav-listing li a {
    font-size: 4.5rem;
  }
}

header .hidden-nav ul {
  padding-top: 250px;
}

header .hidden-nav li:first-of-type {
  color: #D27979;
}

header .hidden-nav li:hover {
  color: #D27979;
}

header input[type="checkbox"]:checked ~ nav {
  top: 0;
}

/* --------------- work page --------------- */
.work {
  padding-top: 40px;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
  gap: 30px;
}

.choice a {
  font-size: 1.5rem;
  font-weight: 400;
}

.choice a:first-of-type {
  color: #D27979;
}

.choice a:hover {
  color: #D27979;
}

.card {
  position: relative;
  margin-top: 17px;
}

.card a {
  overflow: hidden;
  display: block;
}

.card a img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  height: auto;
}

.card a p {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  position: absolute;
  display: block;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 30px;
  line-height: 1.4;
  opacity: 0;
  font-size: 1rem;
  /* 0.875rem */
  /* @media (min-width: $tablet) {
                    font-size: 1rem;
                } */
}

.card a p::first-line {
  font-size: 1.25rem;
  /* 1rem */
  /* @media (min-width: $tablet) {
                        font-size: 1.25rem;
                    } */
}

.card a span {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  position: absolute;
  display: block;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 30px;
  line-height: 1.4;
  font-size: 0.875rem;
  visibility: hidden;
}

.card a span::first-line {
  font-size: 1rem;
}

@media (min-width: 750px) {
  .card a span {
    visibility: hidden;
  }
}

.card:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  opacity: 0.6;
}

.card:hover p {
  opacity: 0;
}

@media (min-width: 750px) {
  .card:hover p {
    opacity: 1;
  }
}

.card:hover span {
  visibility: visible;
}

@media (min-width: 750px) {
  .card:hover span {
    visibility: hidden;
  }
}

.selectors {
  padding: 40px 0;
}

.selectors .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
}

.selectors .selector a {
  font-size: 1.125rem;
}

@media (min-width: 750px) {
  .selectors .selector a {
    font-size: 1.5rem;
  }
}

/* --------------- single page --------------- */
.single {
  padding-top: 40px;
  background-color: #121212;
}

.single .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: -content;
      -ms-flex-pack: -content;
          justify-content: -content;
  -webkit-box-align: -items;
      -ms-flex-align: -items;
          align-items: -items;
  -ms-flex-wrap: -nowrap;
      flex-wrap: -nowrap;
  gap: 30px;
}

.single .title a, .single .title p {
  font-size: 1.5rem;
  font-weight: 400;
}

.single .main-img {
  margin-top: 16px;
}

.single img {
  width: 100%;
}

.single .project {
  margin-top: 40px;
}

.single .project-choices h1 {
  font-size: 1.125rem;
}

@media (min-width: 750px) {
  .single .project-choices h1 {
    font-size: 1.5rem;
  }
}

.single .project-choices p {
  line-height: 1.5;
  font-size: 1rem;
}

@media (min-width: 750px) {
  .single .project-choices p {
    font-size: 1.125rem;
  }
}

.single .project .project-description p {
  margin-top: 25px;
  line-height: 1.3;
  font-size: 1rem;
}

@media (min-width: 750px) {
  .single .project .project-description p {
    font-size: 1.125rem;
  }
}

.single .project-images {
  margin-bottom: 40px;
}

.single .project-images h1 {
  text-transform: uppercase;
  font-size: 18px;
}

/* --------------- contact page --------------- */
.contact-info h1 {
  margin: 40px 0;
  font-size: 1.5rem;
}

.contact-info p {
  margin-top: 40px;
  line-height: 1.3;
  font-size: 1rem;
}

@media (min-width: 750px) {
  .contact-info p {
    font-size: 1.125rem;
  }
}

.contact-info a {
  text-decoration: underline;
}

.map {
  margin-top: 40px;
}

.map iframe {
  height: 170px;
}

@media (min-width: 750px) {
  .map iframe {
    height: 377px;
  }
}
/*# sourceMappingURL=style.css.map */