@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Karla', sans-serif;

$font-size-s: 0.75rem;
$font-size-m: 0.875rem;
$font-size-l: 1.125rem;