@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --col-white: #ffffff;
    --col-yellow: #FFC700;
    --col-main: #000000;
    --col-black-50: rgba(0, 0, 0, 0.5);

    --text-size-s: 12px;
    --text-size-m: 14px;
    --text-size-l: 18px;

    --font-main: 'Montserrat', sans-serif;
    --font-secondary: 'Karla', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER + NAV */

.promo {
    background-color: var(--col-yellow);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--col-main);
}

.message {
    color: var(--col-main);
    font-family: var(--font-main);
    font-size: var(--text-size-l);
    font-style: italic;
    padding: 8px 0;
}

nav {
    padding: 16px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: absolute;
    top: 73px;
    transform: translate(-50%, -50%);
    left: 50%;
}

.profile {
    margin-right: 30px;
}



/* MAIN */

main {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SECTION */

.landing {
    width: 100%;
}

.choice {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.men {
    display: flex;
    align-items: center;
    font-family: var(--font-main);
    font-size: var(--text-size-s);
    padding: 50px 0 0 16px;
}

.arrow_img_men {
    padding-right: 38px;
}

.arrow_img_men p, .arrow_img_women p {
    padding-bottom: 8px;
}

.women {
    display: flex;
    align-items: center;
    font-family: var(--font-main);
    font-size: var(--text-size-s);
    padding: 50px 16px 0 0;
}

.arrow_img_women {
    padding-left: 14px;
}

.arrowR {
    padding-left: 24px;
}

/* INTRO TEXT */

.intro_text {
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.description {
    font-family: var(--font-secondary);
    font-size: var(--text-size-m);
    text-align: center;
}


/* FEATURED ITEMS */

.products {
    width: 100%;  
}

.title {
    color: var(--col-main);
    font-family: var(--font-main);
    font-size: var(--text-size-l);
    padding: 16px 16px 8px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 8px 16px 16px;
}

.list img {
    border-radius: 15px;
    margin-bottom: 10px;
}

.name {
    font-family: var(--font-secondary);
    font-size: var(--text-size-m);
    font-weight: 700;
}

.price {
    font-family: var(--font-secondary);
    font-size: var(--text-size-m);
    color: var(--col-black-50);
    font-weight: 700;
    margin-top: 5px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col-white);
    border: 3px solid var(--col-main);
    color: var(--col-main);
    border-radius: 15px;
    padding: 16px 0;
    margin: 0 16px;
    font-family: var(--font-main);
    font-size: var(--text-size-l);
    text-align: center;
}